<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="dist/css/component-custom-switch.css" rel="stylesheet">
    <style>
        body {
            padding: 50px 0px 0px 0px;
            z-index: 0; 
        }

        .jumbotron {
            margin: 0px auto;
            padding: 70px 30px;
            background: #9575CD;
            color: floralwhite; 
        }
  
        .footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px; }
  
    
        .navbar-dark {
            background-color: #512DA8; 
        }

        .modal-header {
            background-color: #512DA8; 
        }
        .modal-header .modal-title {
            color: floralwhite; 
        }
        .modal-header .close {
            color: floralwhite; 
        }
  
        .modal-body {
            background-color: #D1C4E9; 
        }

        .row-header {
            margin: 0px auto;
            padding: 20px 0px; }

        .row-content {
            margin: 0px auto;
            padding: 50px 0px;
            border-bottom: 1px ridge;
            min-height: 400px; 
        }

    </style>
    <title>Thyroid Disease Detection</title>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
             </button>
            <a class="navbar-brand" href="./index.html"><img src="https://img.freepik.com/free-photo/medical-stethoscope-with-paper-cut-family_23-2148488217.jpg?size=626&ext=jpg" height="30" width="41"></a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="./"><span class="fa fa-home fa-lg"></span> Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-male fa-lg"></span> Info</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Thyroid Disease Detection</h1>
                    
                </div>
                <div class="col-12 col-sm align-self-center">
                    <img src="https://freepngimg.com/thumb/categories/1523.png" class="img-fluid" width="200" height="200">
                </div>
            </div>
        </div>
    </header>

    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button type="button" class="close" id="close">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="exampleInput">
                                    Email ID
                                </label>
                                <input type="email" class="form-control form-control-sm mr-1" id="exampleInputEmail" placeholder="Enter your Email Id"> 
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="examplePassword">Password</label>
                                <input type="password" class="for-control form-control-sm mr-1" id="exampleInputPassword" placeholder="Enter your Password">
                            </div>
                            <div class="col-sm-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"> Remember me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto" id="cancelButton">Cancel</button>
                            <button type="button" class="bt btn-primary btn-sm ml-1">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
              <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item active">Doctors Info</li>
              </ol>
            <div class="col-12 col-sm-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-12 col-sm-12">
                <h2>Doctors Famous For</h2>

                <div id="accordion" role="tablist">
                  <div class="card">
                    <div class="card-header" role="tab" id="ajays">
                      <h3 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#ajay">Dr. Ajay Reddy <small>Endocrinologist</small></a>
                      </h3>
                    </div>
                    <div role="tabpanel" class="collapse show" id="ajay">
                      <div class="card-block">
                        <p class="hidden-xs-down">Our Endocrinologist, Dr. Ajay is expert on hormones and metabolism. He can treat conditions like <em>diabetes, thyroid problems, infertility and bone disorders.</em></p>
                      </div>
                    </div>
                 </div>
                 <div class="card">
                   <div class="card-header" role="tab" id="sais">
                     <h3 class="mb-0">
                       <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#sai">Dr. Sai Sree Krishna <small>Neurologist</small></a>
                     </h3>
                   </div>
                   <div role="tabpanel" class="collapse" id="sai">
                     <div class="card-block">
                       <p class="hidden-xs-down">Our Neurologist, Dr. Sai sree, as he is specialist in the nervous system, which includes the brain, spinal cord, and nerves. He also treat strokes, brain and spinal tumors, epilepsy, Parkinson's disease, and Alzheimer's disease.</p>
                     </div>
                   </div>
                 </div>
                 <div class="card">
                   <div class="card-header" role="tab" id="madhus">
                     <h3 class="mb-0">
                       <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#madhu">Dr. Madhu Mohan <small>Oncologist</small></a>
                     </h3>
                   </div>
                   <div role="tabpanel" class="collapse" id="madhu">
                     <div class="card-block">
                       <p class="hidden-xs-down">Our Oncologist, Dr. Madhu mohan is a cancer specialist. He also do chemotherapy treatments and often work with radiation oncologists and surgeons to care for someone with cancer.</p>
                     </div>
                   </div>
                 </div>
                 <div class="card">
                    <div class="card-header" role="tab" id="avilashs">
                      <h3 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#avilash">Dr. Avilash <small>Psychiatrist</small></a>
                      </h3>
                    </div>
                    <div role="tabpanel" class="collapse" id="avilash">
                      <div class="card-block">
                        <p class="hidden-xs-down">Our Psychiatrist, Dr. Avilash treats the people with mental, emotional, or addictive disorders. He diagnoses and treat depression, schizophrenia, substance abuse, anxiety disorders, and sexual and gender identity issues. He mainly focus on children, adolescents, or the elderly.</p>
                      </div>
                    </div>
                </div>
              </div>
       </div>
     </div>

     </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    


    <script>
        $(document).ready(function() {
    $('#close').click(function() {
        $('#loginModal').modal('hide');
    });
    $('#cancelButton').click(function() {
            $('#loginModal').modal('hide');
    });
    $('#cancel').click(function() {
        $('#reserve').modal('hide');
    });
    $('#dismiss').click(function() {
        $('#reserve').modal('hide');
    });
   $('#loginButton').click(function() {
    $('#loginModal').modal('toggle');
   });
   $('#reserveButton').click(function() {
    $('#reserve').modal('toggle');
   });
});
    </script>


<footer class="footer">
  <div class="container">
      <div class="row">             
          <div class="col-4 offset-1 col-sm-2">
              <h5>Links</h5>
              <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="/info.html">Info</a></li>
              </ul>
          </div>
          <div class="col-7 col-sm-5">
              <h5>Our Address</h5>
              <address>
                Near MetroStation<br>
                SR Nagar, Vengal Rao nagar<br>
                Hyderabad<br>
                <i class="fa fa-phone fa-lg"></i>: +91- 9999999999<br>
                <i class="fa fa-fax fa-lg"></i>: +91- 9999999999<br>
                <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:contact@thyroid.net">contact@thyroid.net</a>
             </address>
          </div>
          <div class="col-12 col-sm-4 align-self-center">
              <div class="text-center">
                  <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                  <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                  <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                  <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                  <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                  <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
              </div>
          </div>
     </div>
     <div class="row justify-content-center">             
          <div class="col-auto">
              <p>© Copyright 2021 Ecommerce Website</p>
          </div>
     </div>
  </div>
</footer>

</body>

</html>